.box-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    border: 1px solid white;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
    width: 60%;
    height: 250px;
    margin: 10px;
    border-radius: 5px;
    order: 0;
}

.box-form p {
    font-size: 20px;
}

.box-form .input-field {
    width: 50%;
    height: 50px;
    border-radius: 5px;
    margin: 5px;
}

.box-form button {
    margin: 10px;
    border: none;
    width: 50%;
    height: 15%;
    border-radius: 3px;
    color: #fff;
    background-color: #27aaca;
}

.box-form button:hover{
    background-color: #6ecfe7;
}
